.header {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-block: 40px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__magnifier {
    margin-inline-start: auto;
}

.header__nav {
    margin-inline-start: 35px;
}

.header__menu {
    display: flex;
    gap: 35px;
    align-items: center;
}
