.services {
    padding-bottom: 190px;
}

.services__info-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-grey);
    padding-block: 40px;
}

.services__info-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
}

.services__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-grey);
    max-width: 570px;
}
