body {
    font-family: var(--font-family);
    color: var(--color-black);
}

body > *:not(.first-screen) {
    display: none;
}

.container {
    --max-width: 1200px;
    --padding-inline: 200px;
    max-width: calc(var(--max-width) + var(--padding-inline) * 2);
    padding-inline: var(--padding-inline);
}

.first-screen {
    background-image: url('../images/background-company.jpg');
}

@media screen and (max-width: 1600px) {
    .container {
        max-width: calc(var(--max-width) + 60px * 2);
        padding-inline: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: calc(var(--max-width) + 40px * 2);
        padding-inline: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: calc(var(--max-width) + 24px * 2);
        padding-inline: 24px;
    }
}
