body {
    font-family: var(--font-family);
    color: var(--color-black);
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.first-screen {
    background-image: url('../images/background-company.jpg');
}
